<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-lazy-init="false">

       <!--<bean id="telnetService" class="com.womai.wms.rf.service.TelnetService" scope="prototype">-->

              <!--&lt;!&ndash;&lt;!&ndash;   <constructor-arg ref="serverInitializer"></constructor-arg> &ndash;&gt;&ndash;&gt;-->
              <!--<property name="serverInitializer" ref="serverInitializer"></property>-->

       <!--</bean>-->

       <!--<bean id="serverInitializer" class="com.womai.wms.rf.service.ServerInitializer" scope="prototype">-->
              <!--&lt;!&ndash;&lt;!&ndash; <property name="loginShellManager" ref="loginShellManager"> </property>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<property name="loginShellManager" ref="loginShellManager"> </property>&ndash;&gt;&ndash;&gt;-->
       <!--</bean>-->

</beans>